.mainHome {
  align-items: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.container {
  align-items: center;
  background-color: #CBE7F6;
  border-radius: 15px;
  box-shadow: 0 5px 0 0 #8dcaeb ;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 80%;
  justify-content: space-evenly;
  width: 80%;
}

.container section {
  display: flex;
  justify-content: center;
}

.container p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}