.body {
  align-items: flex-start;
  background-repeat: repeat;  
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}
